

/* Add any additional styles for the page_4_diy_styles */

#local-navigation-diy {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 10px 20px;
    list-style: none;
    gap: 10px;

    & a {
        text-decoration: none;
        color: #000;
        font-weight: 500;
        font-size: 16px;

        &:hover {
            color: var(--color-link-hover);
        }
    }
}




.diy-process{
   
    diy-card:not(:first-child) img {
        width: 50%;
        display: block;
        align-self: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
       } 

    & diy-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-columns:15% 15% 60%;      
      
        grid-column: span 1;
        
        /* ToDo add Line between the images between first and second column-gap; */
                     
        gap: 5%;
        margin: 0 px;

        & img {
            grid-column: span 2;
            width: 70%;
            height: auto;
            object-fit: cover;
            margin: 20px auto;    
            display: block;
            border-radius: 8px;
        }

        & card-info {
            grid-column: span 1;            
            padding: 50px;
            margin: auto;
            width: 100%;
            box-sizing: border-box;

            & p {
                width: 100%;
                margin: 0;
            }   
         }
    }
}


