
#local-navigation-diy {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.70);
    & a {
        text-decoration: none; 
        color: #000;
        font-weight: 500;
        font-size: 16px; 
        float: left;
        display: block;
        color: teal;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        border-radius: 8px;
        &:hover {
            color: var(--color-link-hover);
        }
        & .active {
            background-color: #04AA6D;
            color: white;     
        }                       
    }    
}
     
        


.diy-process{
   
    diy-card:not(:first-child) img {
        width: 30%;
        display: block;
        align-self: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
       } 

    & diy-card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns:15% 15% 27,5% 27,5%;          
      
        /* ToDo add Line between the images between first and second column-gap; */
                     
        gap: 5%;
        margin: 0 px;

        & img {
            grid-column: span 2;
            width: 40%;
            height: auto;
            object-fit: cover;
            margin: 10px auto;    
            display: block;
            border-radius: 8px;
        }

        & card-info {
            grid-column: span 2;                        
            margin: auto;
            width: 100%;
            box-sizing: border-box;

            & p {
                width: 100%;
                margin: 0;
            }   
         }

        :nth-of-type(even) diy-card {
            grid-template-columns: repeat(4, 1fr);
            grid-template-columns: 27, 5% 27, 5% 15% 15%;

            & card-info {
                grid-column: 1 / span 2;
            }

            & img {
                grid-column: 3 / span 2;
            }   
            }
    }
}


