
#local-navigation-diy {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.70);
    & a {
        text-decoration: none; 
        color: #000;
        font-weight: 500;
        font-size: 16px; 
        float: left;
        display: block;
        color: var(--color-darkerOlive);
        text-align: center;
        padding: 14px;
        text-decoration: none;
        border-radius: 8px;
        &:hover {
            color: var(--color-peach);
        }
        & .active {
            background-color: #04AA6D;
            color: white;     
        }                       
    }    
}


.section-header{    
    padding-top: 50px;
}

main {
        background-color: rgba(255, 255, 255, 0.70);

        & h1 {display: none;}
}

.diy-process{
   
    

    & diy-card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-columns:23,5% 23.5% 23,5% 23,5%;
      
        /* ToDo add Line between the images between first and second column-gap; */
                     
        gap: 2%;
        margin: 0 px;

      

        & img {
            grid-column: span 2;
            width: 30%;
            height: auto;
            object-fit: cover;
            margin: 10px auto;    
            display: block;
            border-radius: 8px;
        }
        &:first-child img {
                width: 40%;
                display: block;
                align-self: center;
                display: block;
                margin-left: auto;
                margin-right: auto;  } 

        & card-info {
            grid-column: span 2;                        
            margin: auto;
            width: 100%;
            box-sizing: border-box;
            padding-left: 50px;
            padding-right: auto;
            & p {
                width: 100%;
                margin: 0;
                
            }   
         }
    }         
    
    @media (max-width: 800px) {
        display: block;

        & diy-card {
            display: block; 
            &:first-child img {
                width: 60%;
                /* flex-direction: column-reverse; */
            }
            & img {             
                width:  60%;     
            }           
        }
    }
             
    @media (max-width: 480px) {
        &:first-child img {
                width: 100%;
                /* flex-direction: column-reverse; */
            }
        
            & img {
                width: 100%;
            }
    }
}



