:root {
    --color-primary: deeppink;
    --color-secondary: #333;
    --color-background: #f0f0f0;
    --color-text: rgba(0, 0, 0, 0.8);
    --color-header-bg: #fff;
    --color-link-hover: #BB8588;
    --color-btn-background: #ff1493;
    --color-btn-hover: #980ada; 


    --color-olive: #A3A380;
    --color-golden: #D7CE93;
    --color-daisy: #EFEBCE;
    --color-rose:#D8A48F;
    --color-peach: #BB8588;
}

body {
    background-color: var(--color-daisy);
    font-family: Arial;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1em;
    
    margin-left: 5%;
    margin-right: 5%;
    
}
h1 {
    color: var(--color-olive);
    font-size: 1.5em;
    text-align: center;
}

h2 {
    color: #333;
    font-size: 1.3em;
}   
p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

button {
    background-color: var(--color-rose);
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1em;
    text-decoration: none;

    &:hover {
        background-color: var(--color-peach);
    }
      
}
a{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 500;
    font-size: 16px;

    &:hover {
        color: var(--color-link-hover);
        transition: color 0.2s;
    }
}
.main-header {
    text-align: center;
    margin-bottom: 20px;
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-content {

    padding: 5%;
}

