
     <img
        src="/img/Header_Footer/Logo_Jugendtheater.jpg"
        alt="Site Logo"
        height="50"
      />
      <address>
        Jugendtheater im<br />
        Neuburger Volkstheater<br />
        Donauwörther Str. 78,5<br />
        86633 Neuburg
        <br />
      </address>
      <section id="social-media">
        <nav>
          <ul>
            <li>
              <a href="https://www.facebook.com/jugendtheaterneuburg">
                <img
                  src="/img/Header_Footer/facebook.png"
                  alt="Facebook"
                  height="24"
                  style="vertical-align: middle"
                />
                Facebook
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/jugendtheaterneuburg">
                <img
                  src="/img/Header_Footer/instagram.png"
                  alt="Instagram"
                  height="24"
                  style="vertical-align: middle"
                />
                Instagram
              </a>
            </li>
            <li>
              <a href="mailto:jugendtheater.neuburg@gmx.de">
                <img
                  src="/img/Header_Footer/email.png"
                  alt="E-Mail"
                  height="24"
                  style="vertical-align: middle"
                />
                jugendtheater.neuburg@gmx.de
              </a>
            </li>
          </ul>
        </nav>
      </section>

      <hr />

      <p>&copy; 2025 Jugendtheater Neuburg</p>
      <nav>
        <ul>
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Datenschutz</a></li>
        </ul>
      </nav>

