
    <section class="footer-contact">
      <a class="logo" href="/page_0_start_page.html">
        <img
          src="/img/Header_Footer/Logo_Jugendtheater.jpg"
          alt="Site Logo"
          height="50" width="50"
        />
      </a>
      <conctact>
        <address>
          Jugendtheater im<br />
          Neuburger Volkstheater<br />
          Donauwörther Str. 78,5<br />
          86633 Neuburg
          <br />
        </address>
        <nav id="social-media">
          <ul>
            <li>
              <a href="https://www.facebook.com/jugendtheaterneuburg">
                <img
                  src="/img/Header_Footer/facebook.png"
                  alt="Facebook"
                  height="16 px"
                  width="16 px"
                  style="vertical-align: middle"
                />
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/jugendtheaterneuburg">
                <img
                  src="/img/Header_Footer/instagram.png"
                  alt="Instagram"
                  height="16px"
                  width="16 px"
                  style="vertical-align: middle"
                />
              </a>
            </li>
            <li>
              <a href="mailto:jugendtheater.neuburg@gmx.de">
                <img
                  src="/img/Header_Footer/email.png"
                  alt="E-Mail"
                  height="16 px"
                  width="16 px"
                  style="vertical-align: middle"
                />
              </a>
            </li>
          </ul>
        </nav>
      </conctact>
    </section>
    <hr />
    <section class="footer-links">
      <p>&copy; 2025 Jugendtheater Neuburg</p>
      <nav>
        <ul>
          <li><a href="/page_impressum.html">Impressum</a></li>
          <li><a href="/page_data_security.html">Datenschutz</a></li>
        </ul>
      </nav>
    </section>
