<link rel="stylesheet" href="/style/component_styles.css" />
<div id="logo">
  <img
    src="/img/Header_Footer/Logo_Jugendtheater.jpg"
    alt="Site Logo Jugendtheater Neuburg"
    height="50"
  />
</div>
<!-- Global Navigation -->
<nav class="global-nav">
  <ul>
    <li>
      <a href="#">Impressionen</a>
      <ul>
        <li><a href="#">Momo</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Schauspiel</a>
      <ul>
        <li><a href="#">Proben</a></li>
        <li><a href="#">Schauspieler</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Kreativwerkstatt</a>
      <ul>
        <li><a href="#">Kostüme</a></li>
        <li><a href="#">Requisiten</a></li>
        <li><a href="#">Bühne</a></li>
      </ul>
    </li>
  </ul>
</nav>
